.log-in-form{
  padding: 30px;
  height: 100%;
}

.card-body {
  width: 400;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent !important;
  box-shadow: -6px -6px 20px rgba(255, 255, 255,1),
              -6px -6px 20px rgba(0, 0, 0, 0.1);
  padding: 60px 40px 20px 40px;
}

.card-item-title {
  color: #ebedf2 !important;
}

.form-btn {
  border-radius: 30px;
  background-color: #a3b0e3;
  border: none;
}

.form-btn:hover {
  background-color: #7d93e8 ;
}

.form-checkbox:checked + label::before{
  background-color: #7d93e8;
  border-color: #7d93e8;
}

.form-input {
  border-radius: 30px;
}

