.homeHeader{
  max-width: 1200px;
  margin:0 auto;
  padding: 0 15px;
}

.homeContainer {
  margin-top: 30px;
}

.homeImg {
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

.homeTitle {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  left: 100px;
  font-family: 'Lora', serif;
  font-style: italic;
  color: #7894c4!important;
  font-size: 15px;
}

.home-btn {
 margin: 40px 0;
 width: 100px;
 margin-left: 530px;
}

.spin-style {
  margin: 150px 0 0 500px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}

