.container {
  max-width: 1200px;
  margin:0 auto;
  padding: 0 15px;
  display: flex;
}

.header {
  padding: 40px 0px;
  font-family: 'Lato', sans-serif;

}

.header-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #5467b8;
}


.header-link{

  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 12px;
  color: #6f7ebd;
}

.header-link:hover , .header-logo:hover{
  color: #ebedf2 !important;
}
