.sign-up-form{
  padding: 30px;
  border-radius: 10%;
}

.card-body {
  width: 500px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent !important;
  box-shadow: -6px -6px 20px rgba(255, 255, 255,1),
              -6px -6px 20px rgba(0, 0, 0, 0.1);
  padding: 60px 10px 20px 20px;
}

.card-item-title {
 padding-left: -10px;
}

.form-btn {
  border-radius: 30px;
  background-color: #a3b0e3;
  border: none;

}

.form-btn:hover {
  background-color: #7d93e8 ;
}

.form-checkbox:checked + label::before{
  background-color: #7d93e8;
  border-color: #7d93e8;
}

.form-input {
  border-radius: 30px;
}

.form-item-input {
  padding-left: 50px;
}
